<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>我要点赞网</title>
    <meta content="我要点赞网 点赞 我要点赞 赞 32个赞 我为自己点个赞 点赞网" name="keywords" />
    <meta content="这是一个专门点赞的网站，赞赞大比拼开始了..." name="description" />
    <meta content="windy" name="author" />
    <link href="../../Content/Site.css" rel="stylesheet" />
    <script src="~/Content/JQueryTools/jquery-1.4a2.min.js"></script>
    <script src="~/Content/JQueryTools/jquery.KinSlideshow-1.2.min.js"></script>
</head>

<body>
    @RenderBody()
</body>
</html>
