BODY {
	FONT-FAMILY: inherit; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DIV {
	FONT-FAMILY: inherit; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
UL {
	FONT-FAMILY: inherit; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
LI {
	FONT-FAMILY: inherit; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TABLE {
	FONT-FAMILY: inherit; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
P {
	FONT-FAMILY: inherit; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
FORM {
	FONT-FAMILY: inherit; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
LEGEND {
	FONT-FAMILY: inherit; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
FIELDSET {
	FONT-FAMILY: inherit; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
INPUT BUTTON {
	FONT-FAMILY: inherit; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
SELECT {
	FONT-FAMILY: inherit; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TEXTAREA {
	FONT-FAMILY: inherit; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
BUTTON {
	FONT-FAMILY: inherit; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
UL {
	LIST-STYLE-TYPE: none
}
LI {
	LIST-STYLE-TYPE: none
}
TABLE {
	BORDER-COLLAPSE: collapse; BORDER-SPACING: 0
}
A {
	COLOR: #333333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #cc0000; TEXT-DECORATION: none
}
BODY {
	WORD-WRAP: break-word; BACKGROUND: #ededed repeat-y center top; COLOR: #333333; TEXT-ALIGN: center; FONT: 12px/20px Verdana,Helvetica,Arial,sans-serif
}
.page_style {
	OVERFLOW: hidden; BACKGROUND: #ffffff; TEXT-ALIGN: center; MARGIN: 0px auto; WIDTH: 940px
}
.clear {
	OVERFLOW: hidden; FONT-SIZE: 0px; HEIGHT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; CLEAR: both; MARGIN: 0px; LINE-HEIGHT: 0px; PADDING-RIGHT: 0px; WIDTH: 0px
}
#Menu_24 {
	BACKGROUND: url(images/menu_bg_2.jpg) repeat-x; FONT-WEIGHT: bold
}
.menu_box {
	CLEAR: both; WIDTH: 100%
}
.menu_box_style1_1 {
	BORDER-TOP: #cccccc 0px solid; BORDER-RIGHT: #cccccc 0px solid; BORDER-BOTTOM: #cccccc 0px solid; CLEAR: both; BORDER-LEFT: #cccccc 0px solid
}
.menu_box_style1_1_1 {
	FLOAT: left
}
.menu_box_style1_1_2 {
	FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.menu_box_style1_2 {
	BORDER-TOP: #dddddd 0px solid; HEIGHT: 40px; BORDER-RIGHT: #dddddd 0px solid; BACKGROUND: url(images/menu_bg_1.jpg) 0px 0px; BORDER-BOTTOM: #dddddd 0px solid; TEXT-ALIGN: left; CLEAR: both; BORDER-LEFT: #dddddd 0px solid
}
.menu_style_1_first {
	HEIGHT: 36px; FLOAT: left; TEXT-ALIGN: center; WIDTH: 100px
}
.menu_style_1 {
	HEIGHT: 36px; FLOAT: left; TEXT-ALIGN: center; WIDTH: 100px
}
A.menu_1:link {
	HEIGHT: 28px; FONT-WEIGHT: bold; COLOR: #ffffff; PADDING-BOTTOM: 0px; PADDING-TOP: 8px; PADDING-LEFT: 0px; TEXT-DECORATION: none; DISPLAY: block; PADDING-RIGHT: 0px; WIDTH: 100px
}
A.menu_1:visited {
	HEIGHT: 28px; FONT-WEIGHT: bold; COLOR: #ffffff; PADDING-BOTTOM: 0px; PADDING-TOP: 8px; PADDING-LEFT: 0px; TEXT-DECORATION: none; DISPLAY: block; PADDING-RIGHT: 0px; WIDTH: 100px
}
A.menu_1:hover {
	HEIGHT: 28px; BACKGROUND: url(images/menu_style_over.jpg) repeat-x 3px 0px; FONT-WEIGHT: bold; COLOR: #ffffff; PADDING-BOTTOM: 0px; PADDING-TOP: 8px; PADDING-LEFT: 0px; TEXT-DECORATION: none; DISPLAY: block; PADDING-RIGHT: 0px; WIDTH: 100px
}
A.menu_current_1 {
	HEIGHT: 28px; BACKGROUND: url(images/menu_style_over.jpg) repeat-x 3px 0px; FONT-WEIGHT: bold; COLOR: #ffffff; PADDING-BOTTOM: 0px; PADDING-TOP: 8px; PADDING-LEFT: 0px; TEXT-DECORATION: none; DISPLAY: block; PADDING-RIGHT: 0px; WIDTH: 100px
}
.menu_box_style2_1 {
	BORDER-TOP: #cccccc 0px solid; BORDER-RIGHT: #cccccc 0px solid; BORDER-BOTTOM: #cccccc 0px solid; PADDING-BOTTOM: 5px; TEXT-ALIGN: right; PADDING-TOP: 5px; PADDING-LEFT: 0px; BORDER-LEFT: #cccccc 0px solid; PADDING-RIGHT: 2px
}
.menu_box_style2_2 {
	HEIGHT: 50px; BACKGROUND: url(images/menu_style_2_bg.gif) no-repeat 0px 25px; CLEAR: both
}
.menu_box_style2_2_1 {
	OVERFLOW: hidden; HEIGHT: 50px; FLOAT: left; TEXT-ALIGN: left; WIDTH: 300px
}
.menu_box_style2_2_2 {
	OVERFLOW: hidden; HEIGHT: 36px; FLOAT: right; PADDING-BOTTOM: 0px; TEXT-ALIGN: right; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WIDTH: 600px
}
.menu_style_2_first {
	HEIGHT: 36px; BACKGROUND: url(images/menu_style_1.jpg) no-repeat 0px 0px; FLOAT: left; TEXT-ALIGN: center; WIDTH: 100px
}
.menu_style_2 {
	HEIGHT: 36px; BACKGROUND: url(images/menu_style_1.jpg) no-repeat 0px 0px; FLOAT: left; TEXT-ALIGN: center; WIDTH: 100px
}
A.menu_2:link {
	HEIGHT: 28px; FONT-WEIGHT: bold; COLOR: #ffffff; PADDING-BOTTOM: 0px; PADDING-TOP: 8px; PADDING-LEFT: 0px; TEXT-DECORATION: none; DISPLAY: block; PADDING-RIGHT: 0px; WIDTH: 100px
}
A.menu_2:visited {
	HEIGHT: 28px; FONT-WEIGHT: bold; COLOR: #ffffff; PADDING-BOTTOM: 0px; PADDING-TOP: 8px; PADDING-LEFT: 0px; TEXT-DECORATION: none; DISPLAY: block; PADDING-RIGHT: 0px; WIDTH: 100px
}
A.menu_2:hover {
	HEIGHT: 28px; BACKGROUND: url(images/menu_style_over.jpg) no-repeat 3px 0px; FONT-WEIGHT: bold; COLOR: #ffffff; PADDING-BOTTOM: 0px; PADDING-TOP: 8px; PADDING-LEFT: 0px; TEXT-DECORATION: none; DISPLAY: block; PADDING-RIGHT: 0px; WIDTH: 100px
}
A.menu_current_2 {
	HEIGHT: 28px; BACKGROUND: url(images/menu_style_over.jpg) no-repeat 3px 0px; FONT-WEIGHT: bold; COLOR: #ffffff; PADDING-BOTTOM: 0px; PADDING-TOP: 8px; PADDING-LEFT: 0px; TEXT-DECORATION: none; DISPLAY: block; PADDING-RIGHT: 0px; WIDTH: 100px
}
.banner_box {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; CLEAR: both; MARGIN: 0px; PADDING-RIGHT: 0px
}
.banner_small_box {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; CLEAR: both; MARGIN: 0px 0px 5px; PADDING-RIGHT: 0px
}
.lanmu_box {
	OVERFLOW: hidden; CLEAR: both; MARGIN: 5px 0px 0px
}
.lanmu_box_style1 {
	OVERFLOW: hidden; CLEAR: both; MARGIN: 5px 0px 0px
}
.lanmu_box_style1_left {
	OVERFLOW: hidden; FLOAT: left; TEXT-ALIGN: left; MARGIN: 0px 10px 0px 0px; WIDTH: 220px
}
.lanmu_box_style1_right {
	OVERFLOW: hidden; FLOAT: right; TEXT-ALIGN: left; MARGIN: 0px; WIDTH: 710px
}
.lanmu_box_style1_clear {
	OVERFLOW: hidden; FONT-SIZE: 0px; HEIGHT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; CLEAR: both; MARGIN: 0px; LINE-HEIGHT: 0px; PADDING-RIGHT: 0px; WIDTH: 0px
}
.lanmu_box_style2 {
	OVERFLOW: hidden; CLEAR: both; MARGIN: 5px 0px 0px
}
.lanmu_box_style2_left {
	OVERFLOW: hidden; FLOAT: left; TEXT-ALIGN: left; MARGIN: 0px 10px 0px 0px; WIDTH: 710px
}
.lanmu_box_style2_right {
	OVERFLOW: hidden; FLOAT: right; TEXT-ALIGN: left; MARGIN: 0px; WIDTH: 220px
}
.lanmu_box_style2_clear {
	OVERFLOW: hidden; FONT-SIZE: 0px; HEIGHT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; CLEAR: both; MARGIN: 0px; LINE-HEIGHT: 0px; PADDING-RIGHT: 0px; WIDTH: 0px
}
.lanmu_box_style {
	OVERFLOW: hidden; CLEAR: both; MARGIN: 5px 0px 0px
}
.lanmu_box_style3_left {
	OVERFLOW: hidden; FLOAT: left; TEXT-ALIGN: left; MARGIN: 0px 10px 0px 0px; WIDTH: 220px
}
.lanmu_box_style3_middle {
	OVERFLOW: hidden; FLOAT: left; TEXT-ALIGN: left; MARGIN: 0px; WIDTH: 480px
}
.lanmu_box_style3_right {
	OVERFLOW: hidden; FLOAT: right; TEXT-ALIGN: left; MARGIN: 0px 0px 0px 10px; WIDTH: 220px
}
.lanmu_box_style3_clear {
	OVERFLOW: hidden; FONT-SIZE: 0px; HEIGHT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; CLEAR: both; MARGIN: 0px; LINE-HEIGHT: 0px; PADDING-RIGHT: 0px; WIDTH: 0px
}
.nav_box {
	OVERFLOW: hidden; CLEAR: both; MARGIN: 0px 0px 10px; WIDTH: 100%
}
.nav_sign {
	FLOAT: left; PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 5px; PADDING-LEFT: 22px; PADDING-RIGHT: 0px
}
.nav_more {
	BACKGROUND: url(public/more_icon.gif) no-repeat 0px 13px; FLOAT: right; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; PADDING-TOP: 8px; PADDING-LEFT: 10px; MARGIN: 0px; PADDING-RIGHT: 10px
}
.nav_more A {
	FONT-SIZE: 10px; LINE-HEIGHT: 15px
}
.nav_title {
	OVERFLOW: hidden; CURSOR: pointer; HEIGHT: 28px; BACKGROUND: url(images/bg_user.jpg) no-repeat; FONT-WEIGHT: bold; COLOR: #fff; TEXT-ALIGN: left
}
.nav_title1{color:#fff;font-weight:bold;height:28px;text-align:left;background:url(images/bg_user.jpg) no-repeat;cursor:pointer;overflow:hidden;}

.nav_header {
	PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
.nav_content {
	BORDER-TOP: #c40000 0px solid; BORDER-RIGHT: #c40000 1px solid; BORDER-BOTTOM: #c40000 1px solid; PADDING-BOTTOM: 5px; TEXT-ALIGN: left; PADDING-TOP: 5px; PADDING-LEFT: 5px; MARGIN: 0px; BORDER-LEFT: #c40000 1px solid; PADDING-RIGHT: 5px
}
.nav_menu {
	BORDER-TOP: #c40000 0px solid; BORDER-RIGHT: #c40000 1px solid; BORDER-BOTTOM: #c40000 1px solid; PADDING-BOTTOM: 5px; TEXT-ALIGN: left; PADDING-TOP: 5px; PADDING-LEFT: 0px; MARGIN: 0px; BORDER-LEFT: #c40000 1px solid; PADDING-RIGHT: 5px
}
.nav_menu_list {
	BORDER-TOP: #cccccc 0px solid; BORDER-RIGHT: #cccccc 0px solid; BACKGROUND: url(images/lanmu_nav_menu_bg.gif) no-repeat 0px 0px; BORDER-BOTTOM: #cccccc 0px solid; PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 5px; PADDING-LEFT: 15px; MARGIN: 2px 0px 5px 5px; BORDER-LEFT: #cccccc 0px solid; PADDING-RIGHT: 5px
}
.nav_submenu_list {
	BACKGROUND: url(images/lanmu_nav_submenu_bg.gif) no-repeat 3px 0px; PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 0px; PADDING-LEFT: 20px; MARGIN: 5px 0px 0px; PADDING-RIGHT: 5px
}
A.nav_menu_href {
	TEXT-ALIGN: left
}
A.nav_submenu_href {
	TEXT-ALIGN: left
}
.nav_list {
	OVERFLOW: hidden; BORDER-TOP: #c40000 0px solid; BORDER-RIGHT: #c40000 1px solid; BORDER-BOTTOM: #c40000 1px solid; PADDING-BOTTOM: 5px; TEXT-ALIGN: left; PADDING-TOP: 5px; PADDING-LEFT: 5px; MARGIN: 0px; BORDER-LEFT: #c40000 1px solid; PADDING-RIGHT: 5px
}
.nav_list_style_1 {
	BORDER-TOP: #cccccc 0px dotted; BORDER-RIGHT: #cccccc 0px dotted; BACKGROUND: url(images/article_arrow.gif) no-repeat 5px 14px; BORDER-BOTTOM: #cccccc 0px dotted; PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 5px; PADDING-LEFT: 12px; BORDER-LEFT: #cccccc 0px dotted; PADDING-RIGHT: 0px
}
.nav_list_style_2 {
	BORDER-TOP: #cccccc 0px solid; BORDER-RIGHT: #cccccc 0px solid; BORDER-BOTTOM: #cccccc 0px solid; TEXT-ALIGN: center; MARGIN: 5px 0px; BORDER-LEFT: #cccccc 0px solid
}
.nav_list_date {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px
}
.nav_list_image {
	BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid; MARGIN: 0px 5px 5px 0px; BORDER-LEFT: #dddddd 1px solid
}
A.nav_list_title {
	TEXT-ALIGN: left
}
.nav_list_tj_box {
	OVERFLOW: hidden; BORDER-TOP: #dddddd 0px dotted; BORDER-RIGHT: #dddddd 0px dotted; BORDER-BOTTOM: #dddddd 1px dotted; PADDING-BOTTOM: 5px; TEXT-ALIGN: left; PADDING-TOP: 0px; PADDING-LEFT: 0px; CLEAR: both; MARGIN: 0px 0px 5px; BORDER-LEFT: #dddddd 0px dotted; PADDING-RIGHT: 0px; WIDTH: 100%
}
.nav_list_tj_content {
	OVERFLOW: hidden
}
.nav_list_tj_image {
	FLOAT: left; MARGIN: 5px 15px 5px 5px
}
A.nav_list_tj_title {
	HEIGHT: 20px; FONT-WEIGHT: bold; TEXT-ALIGN: left
}
.template_box {
	OVERFLOW: hidden; BORDER-TOP: #cccccc 0px solid; BORDER-RIGHT: #cccccc 0px solid; BORDER-BOTTOM: #cccccc 0px solid; CLEAR: both; MARGIN: 0px 0px 5px; BORDER-LEFT: #cccccc 0px solid
}
.template_box_layout_left {
	OVERFLOW: hidden; BORDER-TOP: #cccccc 0px solid; BORDER-RIGHT: #cccccc 0px solid; BORDER-BOTTOM: #cccccc 0px solid; FLOAT: left; MARGIN: 0px 0px 5px; BORDER-LEFT: #cccccc 0px solid
}
.template_box_layout_right {
	OVERFLOW: hidden; BORDER-TOP: #cccccc 0px solid; BORDER-RIGHT: #cccccc 0px solid; BORDER-BOTTOM: #cccccc 0px solid; FLOAT: none !important; MARGIN: 0px 0px 5px; BORDER-LEFT: #cccccc 0px solid
}
.template_box_1 {
	OVERFLOW: hidden; BORDER-TOP: #cccccc 0px solid; HEIGHT: 100%; BORDER-RIGHT: #cccccc 0px solid; BORDER-BOTTOM: #cccccc 0px solid; PADDING-BOTTOM: 5px; TEXT-ALIGN: center; PADDING-TOP: 5px; PADDING-LEFT: 0px; CLEAR: both; BORDER-LEFT: #cccccc 0px solid; PADDING-RIGHT: 0px
}
.template_box_1_layout_left {
	OVERFLOW: hidden; BORDER-TOP: #cccccc 0px solid; HEIGHT: 100%; BORDER-RIGHT: #cccccc 0px solid; BORDER-BOTTOM: #cccccc 0px solid; PADDING-BOTTOM: 5px; TEXT-ALIGN: center; PADDING-TOP: 5px; PADDING-LEFT: 0px; CLEAR: both; MARGIN: 0px 10px 0px 0px; BORDER-LEFT: #cccccc 0px solid; PADDING-RIGHT: 0px
}
.template_box_1_layout_right {
	OVERFLOW: hidden; BORDER-TOP: #cccccc 0px solid; HEIGHT: 100%; BORDER-RIGHT: #cccccc 0px solid; BORDER-BOTTOM: #cccccc 0px solid; PADDING-BOTTOM: 5px; TEXT-ALIGN: center; PADDING-TOP: 5px; PADDING-LEFT: 0px; CLEAR: both; MARGIN: 0px; BORDER-LEFT: #cccccc 0px solid; PADDING-RIGHT: 0px
}
.template_title {
	BORDER-TOP: #cccccc 0px solid; HEIGHT: 25px; BORDER-RIGHT: #cccccc 0px solid; BACKGROUND: url(images/template_title_sign.gif) no-repeat 8px 10px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: left; MARGIN: 0px; BORDER-LEFT: #cccccc 0px solid
}
.template_title_layout_left {
	BORDER-TOP: #cccccc 0px solid; HEIGHT: 25px; BORDER-RIGHT: #cccccc 0px solid; BACKGROUND: url(images/template_title_sign.gif) no-repeat 8px 10px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: left; CLEAR: both; MARGIN: 0px 10px 0px 0px; BORDER-LEFT: #cccccc 0px solid
}
.template_title_layout_right {
	BORDER-TOP: #cccccc 0px solid; HEIGHT: 25px; BORDER-RIGHT: #cccccc 0px solid; BACKGROUND: url(images/template_title_sign.gif) no-repeat 8px 10px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: left; CLEAR: both; MARGIN: 0px; BORDER-LEFT: #cccccc 0px solid
}
.template_sign {
	FLOAT: left; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 5px; PADDING-LEFT: 22px; PADDING-RIGHT: 0px
}
.template_more {
	BACKGROUND: url(public/more_icon.gif) no-repeat 0px 13px; FLOAT: right; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; PADDING-TOP: 8px; PADDING-LEFT: 10px; MARGIN: 0px; PADDING-RIGHT: 10px
}
.template_more A {
	FONT-SIZE: 10px; LINE-HEIGHT: 15px
}
.template_header {
	PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
.template_introduct_content {
	BORDER-TOP: #cccccc 0px solid; BORDER-RIGHT: #cccccc 0px solid; BORDER-BOTTOM: #cccccc 0px solid; PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 0px; PADDING-LEFT: 10px; MARGIN: 0px; BORDER-LEFT: #cccccc 0px solid; PADDING-RIGHT: 10px
}
.template_list_box {
	OVERFLOW: hidden; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 5px; CLEAR: both; MARGIN: 0px; PADDING-RIGHT: 5px
}
.template_list_box_left {
	OVERFLOW: hidden; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 5px
}
.template_list_box_right {
	OVERFLOW: hidden; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 20px; WIDTH: 100%
}
.template_list_title_box {
	OVERFLOW: hidden; BORDER-TOP: #cccccc 0px dotted; HEIGHT: 25px; BORDER-RIGHT: #cccccc 0px dotted; BACKGROUND: url(images/article_arrow.gif) no-repeat 5px 14px; BORDER-BOTTOM: #cccccc 1px dotted; TEXT-ALIGN: left; CLEAR: both; BORDER-LEFT: #cccccc 0px dotted; WIDTH: 100%
}
.template_list_title_left {
	FLOAT: left; PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 5px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px
}
.template_list_title_right {
	FLOAT: right; COLOR: #666666; PADDING-BOTTOM: 0px; TEXT-ALIGN: right; PADDING-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 5px
}
A.template_list_title {
	TEXT-ALIGN: left
}
.template_list_tj_box {
	OVERFLOW: hidden; BORDER-TOP: #dddddd 0px dotted; BORDER-RIGHT: #dddddd 0px dotted; BORDER-BOTTOM: #dddddd 1px dotted; PADDING-BOTTOM: 5px; TEXT-ALIGN: left; PADDING-TOP: 0px; PADDING-LEFT: 0px; CLEAR: both; MARGIN: 0px 0px 5px; BORDER-LEFT: #dddddd 0px dotted; PADDING-RIGHT: 0px; WIDTH: 100%
}
.template_list_tj_content {
	OVERFLOW: hidden
}
.template_list_tj_image {
	FLOAT: left; MARGIN: 5px 15px 5px 5px
}
A.template_list_tj_title {
	HEIGHT: 20px; FONT-WEIGHT: bold; TEXT-ALIGN: left
}
.template_pic_box {
	OVERFLOW: hidden; TEXT-ALIGN: center; CLEAR: both; MARGIN: 0px auto; WIDTH: 99%
}
.template_pic_1 {
	TEXT-ALIGN: center
}
.template_pic_2 {
	TEXT-ALIGN: center
}
.template_pic_image {
	BORDER-TOP: #cccccc 0px solid; BORDER-RIGHT: #cccccc 0px solid; BORDER-BOTTOM: #cccccc 0px solid; MARGIN: 5px 10px 0px; BORDER-LEFT: #cccccc 0px solid
}
.template_pic_spacing {
	FONT-SIZE: 0px; BORDER-TOP: #cccccc 0px dotted; BORDER-RIGHT: #cccccc 0px dotted; BORDER-BOTTOM: #cccccc 0px dotted; TEXT-ALIGN: center; MARGIN: 5px 0px 10px; BORDER-LEFT: #cccccc 0px dotted; LINE-HEIGHT: 0px
}
.uc_lanmu_box {
	BORDER-TOP: #cccccc 0px solid; BORDER-RIGHT: #cccccc 0px solid; BORDER-BOTTOM: #cccccc 0px solid; PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 0px; PADDING-LEFT: 0px; BORDER-LEFT: #cccccc 0px solid; PADDING-RIGHT: 0px
}
.uc_lanmu_site {
	BORDER-TOP: #cccccc 0px solid; HEIGHT: 25px; BORDER-RIGHT: #cccccc 0px solid; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: left; CLEAR: both; BORDER-LEFT: #cccccc 0px solid
}
.uc_lanmu_site_1 {
	BACKGROUND: url(images/site_icon.gif) no-repeat 5px 10px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; PADDING-LEFT: 20px; PADDING-RIGHT: 5px
}
.uc_lanmu_site_2 {
	FLOAT: left; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 6px; PADDING-LEFT: 5px; DISPLAY: none; PADDING-RIGHT: 0px
}
.uc_lanmu_content {
	BORDER-TOP: #caeaff 0px solid; BORDER-RIGHT: #caeaff 0px solid; BORDER-BOTTOM: #caeaff 0px solid; PADDING-BOTTOM: 5px; TEXT-ALIGN: left; PADDING-TOP: 5px; PADDING-LEFT: 10px; BORDER-LEFT: #caeaff 0px solid; PADDING-RIGHT: 5px
}
.uc_lanmu_page {
	HEIGHT: 25px; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 1px; PADDING-LEFT: 5px; CLEAR: both; MARGIN: 15px 0px 10px; PADDING-RIGHT: 5px; BACKGROUND-COLOR: #ffffff
}
.uc_lanmu_pn {
	FONT-SIZE: 13px; COLOR: #cb0923
}
.uc_lanmu_prevtitle {
	HEIGHT: 25px
}
.uc_lanmu_nexttitle {
	HEIGHT: 25px
}
#Introduct_Content {
	LINE-HEIGHT: 25px
}
#Infor_Content {
	FONT-SIZE: 13px; LINE-HEIGHT: 25px
}
#innerpage {
	FONT-SIZE: 13px
}
A.innerpage {
	BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 8px; BORDER-LEFT: #cccccc 1px solid; PADDING-RIGHT: 8px; BACKGROUND-COLOR: #ffffff
}
.article_style_1 {
	BORDER-TOP: #cccccc 0px dotted; HEIGHT: 25px; BORDER-RIGHT: #cccccc 0px dotted; BORDER-BOTTOM: #cccccc 1px dotted; TEXT-ALIGN: left; CLEAR: both; MARGIN: 0px 0px 5px; BORDER-LEFT: #cccccc 0px dotted
}
.article_title {
	BACKGROUND: url(images/article_arrow.gif) no-repeat 8px 13px; FLOAT: left; PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 5px; PADDING-LEFT: 18px; PADDING-RIGHT: 0px
}
.article_date {
	FLOAT: right; PADDING-BOTTOM: 0px; TEXT-ALIGN: right; PADDING-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px
}
.article_style_2 {
	OVERFLOW: hidden; BORDER-TOP: #eeeeee 0px solid; BORDER-RIGHT: #eeeeee 0px solid; BORDER-BOTTOM: #eeeeee 0px solid; TEXT-ALIGN: center; CLEAR: both; MARGIN: 0px 0px 15px; BORDER-LEFT: #eeeeee 0px solid
}
.article_style_2_image {
	BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid; MARGIN: 5px 0px; BORDER-LEFT: #dddddd 1px solid
}
A.article_style_2_title {
	TEXT-ALIGN: left; LINE-HEIGHT: 20px
}
.article_style_3 {
	OVERFLOW: hidden; BORDER-TOP: #dddddd 0px dotted; BORDER-RIGHT: #dddddd 0px dotted; BORDER-BOTTOM: #dddddd 1px dotted; PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 10px; PADDING-LEFT: 0px; CLEAR: both; MARGIN: 0px 0px 5px; BORDER-LEFT: #dddddd 0px dotted; PADDING-RIGHT: 0px
}
.article_style_3_box_1 {
	FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px
}
.article_style_3_box_2 {
	OVERFLOW: hidden; FLOAT: none !important; MARGIN: 0px 0px 0px 10px
}
.article_style_3_image {
	BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid; MARGIN: 0px 0px 5px; BORDER-LEFT: #dddddd 1px solid
}
.article_style_3_date {
	COLOR: #666666; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px
}
A.article_style_3_title {
	HEIGHT: 20px; FONT-WEIGHT: bold; TEXT-ALIGN: left
}
.articleinfor_box_1 {
	OVERFLOW: hidden; PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 0px; PADDING-LEFT: 5px; CLEAR: both; MARGIN: 10px 0px; PADDING-RIGHT: 5px; WIDTH: 100%
}
.articleinfor_box_1_left {
	OVERFLOW: hidden; FLOAT: left; TEXT-ALIGN: center; MARGIN: 15px 20px 10px 10px
}
.articleinfor_box_1_right {
	OVERFLOW: hidden; FLOAT: none !important; TEXT-ALIGN: left; MARGIN: 15px 0px 10px
}
.articleinfor_title {
	FONT-SIZE: 14px; BORDER-TOP: #cccccc 0px dotted; BORDER-RIGHT: #cccccc 0px dotted; BORDER-BOTTOM: #cccccc 1px dotted; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; TEXT-ALIGN: center; PADDING-TOP: 10px; PADDING-LEFT: 0px; MARGIN: 0px 0px 5px; BORDER-LEFT: #cccccc 0px dotted; PADDING-RIGHT: 0px
}
.articleinfor_title_1 {
	OVERFLOW: hidden; BORDER-TOP: #cccccc 0px dotted; BORDER-RIGHT: #cccccc 0px dotted; BORDER-BOTTOM: #cccccc 1px dotted; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px 0px 5px; BORDER-LEFT: #cccccc 0px dotted; PADDING-RIGHT: 0px; WIDTH: 100%
}
.articleinfor_tishi {
	TEXT-ALIGN: right; MARGIN: 5px 0px 10px
}
.articleinfor_detail {
	BORDER-TOP: #cccccc 0px solid; BORDER-RIGHT: #cccccc 0px solid; BORDER-BOTTOM: #cccccc 1px solid; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 0px; PADDING-LEFT: 5px; CLEAR: both; BORDER-LEFT: #cccccc 0px solid; PADDING-RIGHT: 0px; WIDTH: 100%
}
.articleinfor_box_2 {
	PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.articleinfor_image {
	CURSOR: pointer; BORDER-TOP: #cccccc 0px solid; BORDER-RIGHT: #cccccc 0px solid; BORDER-BOTTOM: #cccccc 0px solid; MARGIN: 0px; BORDER-LEFT: #cccccc 0px solid; WIDTH: 250px
}
.articleinfor_download {
	BORDER-TOP: #ff9900 1px solid; BORDER-RIGHT: #ff9900 1px solid; BORDER-BOTTOM: #ff9900 1px solid; PADDING-BOTTOM: 3px; TEXT-ALIGN: center; PADDING-TOP: 2px; PADDING-LEFT: 0px; BORDER-LEFT: #ff9900 1px solid; PADDING-RIGHT: 0px; WIDTH: 250px; BACKGROUND-COLOR: #ffff99
}
.articleinfor_download A {
	COLOR: #ff0000
}
.product_style_1 {
	BORDER-TOP: #cccccc 0px solid; BORDER-RIGHT: #cccccc 0px solid; BORDER-BOTTOM: #cccccc 0px solid; TEXT-ALIGN: center; MARGIN: 0px 0px 15px; BORDER-LEFT: #cccccc 0px solid
}
.product_style_1_image {
	MARGIN: 5px 0px
}
.product_style_2 {
	OVERFLOW: hidden; BORDER-TOP: #dddddd 0px solid; HEIGHT: 100%; BORDER-RIGHT: #dddddd 0px solid; BORDER-BOTTOM: #dddddd 1px solid; PADDING-BOTTOM: 5px; TEXT-ALIGN: left; PADDING-TOP: 15px; PADDING-LEFT: 0px; CLEAR: both; MARGIN: 0px; BORDER-LEFT: #dddddd 0px solid; PADDING-RIGHT: 0px
}
.product_style_2_box_1 {
	FLOAT: left; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 15px; MARGIN: 0px 15px 0px 0px; PADDING-RIGHT: 0px
}
.product_style_2_box_2 {
	OVERFLOW: hidden; FLOAT: none !important; MARGIN: 0px 0px 0px 10px
}
.product_style_2_image {
	BORDER-TOP: #dddddd 0px solid; BORDER-RIGHT: #dddddd 0px solid; BORDER-BOTTOM: #dddddd 0px solid; MARGIN: 0px 0px 5px; BORDER-LEFT: #dddddd 0px solid
}
.productinfo_box_1 {
	OVERFLOW: hidden; PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 0px; PADDING-LEFT: 5px; CLEAR: both; MARGIN: 10px 0px 5px; PADDING-RIGHT: 5px; WIDTH: 100%
}
.productinfo_box_1_left {
	OVERFLOW: hidden; FLOAT: left; TEXT-ALIGN: center; MARGIN: 15px 20px 10px 10px
}
.productinfo_box_1_right {
	OVERFLOW: hidden; FLOAT: none !important; TEXT-ALIGN: left; MARGIN: 15px 0px 10px
}
.productinfo_title {
	OVERFLOW: hidden; BORDER-TOP: #cccccc 0px dotted; BORDER-RIGHT: #cccccc 0px dotted; BORDER-BOTTOM: #cccccc 1px dotted; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px 0px 5px; BORDER-LEFT: #cccccc 0px dotted; PADDING-RIGHT: 0px; WIDTH: 100%
}
.productinfo_detail {
	OVERFLOW: hidden; BORDER-TOP: #cccccc 0px solid; BORDER-RIGHT: #cccccc 0px solid; BORDER-BOTTOM: #cccccc 1px solid; FONT-WEIGHT: bold; TEXT-ALIGN: left; CLEAR: both; BORDER-LEFT: #cccccc 0px solid; WIDTH: 100%
}
.productinfo_box_2 {
	PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.productinfo_image {
	CURSOR: pointer; BORDER-TOP: #cccccc 0px solid; BORDER-RIGHT: #cccccc 0px solid; BORDER-BOTTOM: #cccccc 0px solid; MARGIN: 0px; BORDER-LEFT: #cccccc 0px solid; WIDTH: 250px
}
.order_header {
	BORDER-TOP: #cccccc 0px solid; HEIGHT: 30px; BORDER-RIGHT: #cccccc 0px solid; BACKGROUND: url(public/order_bg.gif) 0px 0px; BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 0px solid
}
.order_header_text {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
.order_style {
	BORDER-TOP: #cccccc 0px solid; BORDER-RIGHT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid
}
.order_button {
	BORDER-LEFT-WIDTH: 0px; CURSOR: pointer; HEIGHT: 22px; BORDER-RIGHT-WIDTH: 0px; BACKGROUND: url(public/button.gif) no-repeat 0px 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-TOP: 3px; BORDER-TOP-WIDTH: 0px; WIDTH: 80px
}
.orderinfor_table {
	BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; WIDTH: 98%
}
.orderinfor_table TD {
	BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid
}
.hrzp_header {
	BORDER-TOP: #cccccc 0px dashed; HEIGHT: 25px; BORDER-RIGHT: #cccccc 0px dashed; BORDER-BOTTOM: #cccccc 0px dashed; BORDER-LEFT: #cccccc 0px dashed; BACKGROUND-COLOR: #990000
}
.hrzp_header_title {
	COLOR: #ffffff
}
.hrzp_list {
	BORDER-TOP: #dddddd 0px solid; HEIGHT: 28px; BORDER-RIGHT: #dddddd 0px solid; BORDER-BOTTOM: #dddddd 1px solid; BORDER-LEFT: #dddddd 0px solid
}
.hrzpinfo_table {
	BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; WIDTH: 99%
}
.hrzpinfo_table TD {
	BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid
}
.hrzpinfo_head {
	FONT-WEIGHT: bold; TEXT-ALIGN: center; BACKGROUND-COLOR: #ededed
}
.hrjoin_table {
	BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; WIDTH: 99%
}
.hrjoin_item {
	BACKGROUND-COLOR: #eeeeee
}
.hrview_table {
	BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; TABLE-LAYOUT: fixed; BORDER-BOTTOM: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; WIDTH: 99%
}
.hrview_table TD {
	BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid
}
.feedback_table {
	BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; WIDTH: 98%
}
.feedback_table TD {
	BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid
}
.feedback_box {
	OVERFLOW: hidden; BORDER-TOP: #cccccc 1px solid; HEIGHT: 100%; BORDER-RIGHT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; PADDING-BOTTOM: 10px; PADDING-TOP: 15px; PADDING-LEFT: 5px; MARGIN: 5px 0px 10px 5px; BORDER-LEFT: #cccccc 1px solid; PADDING-RIGHT: 0px
}
.feedbacklist_box {
	BORDER-TOP: #cccccc 0px solid; BORDER-RIGHT: #cccccc 0px solid; BORDER-BOTTOM: #cccccc 0px solid; MARGIN: 5px 0px 5px 5px; BORDER-LEFT: #cccccc 0px solid
}
.feedbacklist_item_box {
	OVERFLOW: hidden; BORDER-TOP: #cccccc 1px solid; HEIGHT: 100%; BORDER-RIGHT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; PADDING-BOTTOM: 10px; PADDING-TOP: 5px; PADDING-LEFT: 10px; CLEAR: both; MARGIN: 0px 0px 15px; BORDER-LEFT: #cccccc 1px solid; PADDING-RIGHT: 5px
}
.feedbacklist_item_jiange {
	FONT-SIZE: 1px; BORDER-TOP: #cccccc 0px dotted; HEIGHT: 2px; BORDER-RIGHT: #cccccc 0px dotted; BORDER-BOTTOM: #cccccc 1px dotted; CLEAR: both; MARGIN: 5px 0px; BORDER-LEFT: #cccccc 0px dotted; LINE-HEIGHT: 0px
}
.bottom_box {
	BORDER-TOP: #666666 0px solid; BORDER-RIGHT: #666666 0px solid; BORDER-BOTTOM: #666666 0px solid; PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 0px; PADDING-LEFT: 0px; CLEAR: both; MARGIN: 5px 0px; BORDER-LEFT: #666666 0px solid; PADDING-RIGHT: 0px; WIDTH: 100%
}
.link_box {
	BORDER-TOP: #cccccc 0px solid; BORDER-RIGHT: #cccccc 0px solid; BORDER-BOTTOM: #cccccc 0px solid; TEXT-ALIGN: center; CLEAR: both; BORDER-LEFT: #cccccc 0px solid; WIDTH: 100%
}
.link_list {
	FLOAT: left; PADDING-BOTTOM: 5px; TEXT-ALIGN: left; PADDING-TOP: 0px; PADDING-LEFT: 5px; MARGIN: 0px; PADDING-RIGHT: 5px
}
.link_image {
	BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid
}
A.link {
	TEXT-DECORATION: none
}
.searchbox {
	CLEAR: both
}
.searchbox_item {
	HEIGHT: 25px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.searchbox_textbox {
	BORDER-TOP: #cccccc 1px solid; HEIGHT: 17px; BORDER-RIGHT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; MARGIN: 0px 5px 0px 0px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 105px
}
.slide_box {
	POSITION: relative
}
.slide_item {
	RIGHT: 0px; POSITION: absolute; BOTTOM: 0px
}
.slide_item LI {
	OVERFLOW: hidden; CURSOR: pointer; FONT-SIZE: 11px; HEIGHT: 16px; FONT-FAMILY: Arial; BACKGROUND: url(public/f_off.gif) no-repeat; FLOAT: left; COLOR: #fff; TEXT-ALIGN: center; WIDTH: 22px
}
.slide_item LI.current {
	BACKGROUND-IMAGE: url(public/f_on.gif)
}
.slide_image {
	BORDER-TOP: #cccccc 0px solid; BORDER-RIGHT: #cccccc 0px solid; BORDER-BOTTOM: #cccccc 0px solid; BORDER-LEFT: #cccccc 0px solid
}
A.slide_title {
	FONT-WEIGHT: bold; MARGIN: 3px 0px 2px
}
.loginbox_item {
	FONT-SIZE: 9pt; HEIGHT: 20px; PADDING-BOTTOM: 5px; TEXT-ALIGN: left; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 5px
}
.loginbox_textbox {
	BORDER-TOP: #cccccc 1px solid; HEIGHT: 15px; BORDER-RIGHT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; WIDTH: 100px
}
.loginbox_textbox_yzm {
	BORDER-TOP: #cccccc 1px solid; HEIGHT: 15px; BORDER-RIGHT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; WIDTH: 40px
}
.loginbox_submit {
	CURSOR: pointer; BORDER-TOP: #333333 0px solid; HEIGHT: 20px; BORDER-RIGHT: #333333 1px solid; BORDER-BOTTOM: #333333 1px solid; BORDER-LEFT: #333333 0px solid; WIDTH: 90px; BACKGROUND-COLOR: #dddddd
}
A.logined_href:link {
	FONT-SIZE: 9pt; COLOR: #ff0000; TEXT-DECORATION: underline
}
A.logined_href:visited {
	FONT-SIZE: 9pt; COLOR: #ff0000; TEXT-DECORATION: underline
}
A.logined_href:hover {
	FONT-SIZE: 9pt; COLOR: #ff0000; TEXT-DECORATION: underline
}
.vote_title {
	FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; TEXT-ALIGN: left; PADDING-TOP: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 2px
}
.vote_item {
	HEIGHT: 25px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.vote_item_1 {
	HEIGHT: 25px; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
