@{
    ViewBag.Title = "Default";
}
<style>
   
</style>

<div>
    
    <a id="link" href="../../Content/html/HtmlPage1.html">我们为什么要做赞网站</a>
    用git进行源代码管理真的好爽啊 hello world
</div>

<div>

</div>

